<div class="element-left">
    <div class="element-bg-img">
        <img src="assets/images/1.jpg" alt="" class="img-responsive"> </div>
    <div class="element-left-bottom">
        <div class="ele-strip">
            <ul>
                
                            <li *ngFor="let filter of filters" (click)=" typeSelected(filter)" [ngStyle]="{ 'cursor': 'pointer'} ">
                                    <a>{{filter}}</a>
                            </li>
               
               
            </ul>
        </div>
        <div class="village ">
            <h3>Отели</h3>
            <span class="line "> </span>
            <div class="activity_box ">
                <div class="scrollbar " id="style-2 ">
                    <div *ngIf="hotels$ | async as hotels; else loadGif ">
                        <div *ngFor="let hotel of hotels | hotelsFilter: _filteredType; first as f; index as i " 
                              appInit [hotel]="hotel " [first]="f ">
                            <app-card appHighlight [hotel]=hotel></app-card>

                        </div>
                    </div>
                    <ng-template #loadGif>
                        <img [src]="loadImg " alt=" ">
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>